.login{
    border: 5px blue solid;
    width: 400px;
    height: 400px;
    margin-top:2%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    font-size:25px;
    background-color:blueviolet;
}
#sigin{
    font-size: large;
    position:relative;
    margin-top: 10%;
    border: blue outset;
}
.in{
    position: relative;
    margin-left: auto;
    border:solid rgb(18, 111, 173);
}